{% extends "base.html" %}

{% block title %}{{object.name}}{% endblock %}

{% block content %}
<h1>{{object.name}}</h1>

<h3>Images Listing</h3>

{% for image in object.get_images_listing %}
<div>
    <h1>{{ image.title }}</h1>
    <p>
        <a href="{{ image.url }}">
            <img src="{{ image.thumbnail_url }}" />
        </a>
    </p>
</div>
{% endfor %}

{% endblock %}
