{% extends "base.html" %}

{% block title %}{{object.name}}{% endblock %}

{% block content %}
<h1>{{object.title}}</h1>
<p>
<a href="{{ object.url }}"><img src="{{ object.thumbnail_url }}" /></a>
</p>
{% endblock %}
